<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" colspan="2"><h1>Admin Dashboard</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Products count</th>
      <td><%= @products.count %></td>
    </tr>
    <tr>
      <th scope="row">Categories count</th>
      <td><%= @categories.count %></td>
    </tr>
    
  </tbody>
</table>